.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bankDetails {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.bankCardTitle {
  margin-top: 2rem;
  margin-left: 1.5rem;
  color: white;
}

.bankCardTitle h1 {
  letter-spacing: 0.374px;
  width: 7rem;
}

.bankCardTitle h2 {
  color: #94a3d3;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.3px;
  font-size: 16px;
  color: #94a3d3;
}

.bankCardTitle p {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.card {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 23rem;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
}

.cards {
  flex: 0 0 18rem;
  scroll-snap-align: start;
  margin-right: 1rem;
  overflow: hidden;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.lines {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.lines div {
  width: 30px;
  height: 3.5px;
  border-radius: 10px;
  margin-top: 1rem;
}
