* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  height: 100vh;
  width: 25rem;
  margin: auto;
  background: linear-gradient(11deg, #1a2440 1.16%, #313c5c 100.88%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customText {
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.3px;
}

.line {
  background-color: #202b48;
  width: 21rem;
  height: 1px;
  align-self: flex-end;
}
